:root {
  --basic-white: #ffffff;
  --light-white: #f1f5f7;
  --opacity-white-10: rgba(255, 255, 255, 0.3);
  --opacity-white-20: rgba(241, 245, 247, 0.5);
  --opacity-white-30: rgba(255, 255, 255, 0.5);
  --basic-red: #ee3643;
  --light-red: #ff5357;
  --extra-red-10: #b52933;
  --extra-red-20: #ba2732;
  --extra-red-30: #ca2c37;
  --extra-red-40: #8d1e26;
  --basic-blue: #32425c;
  --strong-blue: #212a3a;
  --extra-blue: #293449;
  --super-blue: #161d29;
  --super-puper-blue: #1d2739;
  --light-blue-10: #f3f7f9;
  --light-blue-20: #f9f5f0;
  --light-blue-30: #3d546f;
  --light-blue-40: #f4f4f4;
  --light-blue-50: #405069;
  --light-blue: #3bbce3;
  --basic-green: #63a63e;
  --extra-green: #8ed78f;
  --light-green: #5fbb2d;
  --strong-green: #518534;
  --underline-green: #367315;
  --accent-green: #00ca74;
  --basic-black: #000000;
  --opacity-black: rgba(0, 0, 0, 0.01);
  --opacity-black-03: rgba(0, 0, 0, 0.3);
  --basic-gray: #888888;
  --light-gray-10: #b7bfc8;
  --light-gray-20: #c5c5c5;
  --light-gray-30: #a9a9a9;
  --light-gray-40: #eaeaea;
  --light-gray-50: #e5e5e5;
  --light-gray-60: rgba(0, 0, 0, 0.15);
  --light-gray-70: #d7dcde;
  --light-gray-80: #ababab;
  --light-gray-blue: #d8d8d8;
  --opacity-gray-10: rgba(197, 197, 197, 0.3);
  --opacity-gray-20: rgba(167, 167, 167, 0.3);
  --opacity-gray-30: rgba(169, 169, 169, 0.3);
  --yellow-10: #ffd180;
  --yellow-20: #ffda96;
  --yellow-30: #ffbf47;
  --yellow-40: #ffc047;
  --opacity-yellow: rgba(255, 209, 128, 0.5);
  --purple: #dc91d8;
  --light-purple: #f7f3ec;
  /*semantic-properties*/
  --main-bg-color: var(--basic-white);
  --section-bg-color: var(--light-white);
  --section-header-bg: var(--light-blue-20);
  --bg-accent-color: var(--light-white);
  --bg-filter-color: var(--light-purple);
  --link-color-footer-active: var(--opacity-white-20);
  --link-color-footer-active-dark: var(--opacity-yellow);
  --text-color-black: var(--basic-black);
  --text-color-blue: var(--basic-blue);
  --text-color-white: var(--basic-white);
  --text-color-gray: var(--light-gray-30);
  --text-color-gray-filter: var(--basic-gray);
  --text-color-light-blue: var(--light-blue-10);
  --text-color-link-primary: var(--basic-white);
  --text-color-link-secondary: var(--yellow-10);
  --text-color-black-transparent: var(--opacity-black-03);
  --color-header-bg-primary: var(--light-white);
  --color-header-bg-secondary: var(--extra-blue);
  --color-header-input-bg: var(--extra-blue);
  --color-header-input-bg-hover-focus: var(--basic-white);
  --color-top-header-menu-active-link: var(--opacity-white-30);
  --color-top-header-menu-active-bg: var(--super-blue);
  --color-checkout-link-bg: var(--basic-green);
  --color-checkout-link-bg-hover-focus: var(--light-green);
  --color-text-accent: var(--basic-red);
  --color-sign-active: var(--light-gray-20);
  --color-main-nav-bg: var(--basic-blue);
  --color-main-nav-bg-active: var(--super-puper-blue);
  --color-btn-text: var(--basic-white);
  --color-btn-bg: var(--basic-red);
  --color-btn-bg-hover-focus: var(--extra-red-30);
  --color-btn-bg-active: var(--extra-red-20);
  --color-box-promo-material: var(--yellow-30);
  --color-box-promo-tools: var(--light-blue);
  --color-box-promo-equipment: var(--purple);
  --color-box-promo-discount: var(--extra-green);
  --color-box-promo-delivery: var(--yellow-40);
  --color-box-btn-bg: var(--opacity-white-10);
  --color-box-btn-bg-hover-focus: var(--opacity-gray-10);
  --color-box-btn-bg-active: var(--opacity-gray-30);
  --color-btn-buy-bg: var(--basic-green);
  --color-btn-buy-bg-hover-focus: var(--light-green);
  --color-btn-buy-bg-active: var(--strong-green);
  --color-tobookmark-border: var(--basic-green);
  --color-tobookmark-border-hover-focus: var(--basic-blue);
  --color-pag-border: var(--light-gray-50);
  --color-pag-border-hover: var(--light-gray-20);
  --color-pag-border-active: var(--basic-red);
  --color-modal-border: var(--basic-red);
  --color-tobookmark-text-active: var(--light-gray-blue);
  --color-tobookmark-border-active: var(--light-gray-blue);
  --color-tab-bg: var(--basic-blue);
  --color-tab-bg-hover-focus: var(--extra-blue);
  --color-footer-top-bg: var(--basic-blue);
  --color-footer-link-light: var(--light-white);
  --color-footer-link-dark: var(--yellow-10);
  --color-footer-bottom-bg: var(--extra-blue);
  --color-form-bg-bottom: var(--light-blue-40);
  --color-card-border: var(--light-gray-40);
  --color-social-bg: var(--strong-blue);
  --color-social-bg-active: var(--basic-red);
  --color-logo-bg: var(--basic-red);
  --color-logo-bg-active: var(--extra-red-20);
  --color-logo-shadow: var(--extra-red-10);
  --color-logo-shadow-active: var(--extra-red-40);
  --color-basket-active: var(--basic-red);
  --color-nav-border: var(--extra-blue);
  --color-icon-sign-hover: var(--light-blue-30);
  --color-icon-sign-focus: var(--basic-red);
  --color-placeholder: var(--basic-white);
  --color-slider-checked: var(--basic-red);
  --color-card-shadow: var(--light-gray-60);
  --color-list-style: var(--basic-red);
  --color-icon-search: var(--basic-white);
  --color-icon-searh-focus: var(--basic-red);
  --color-popup-border: var(--basic-red);
  --color-input-border: var(--light-gray-20);
  --color-scale: var(--light-gray-70);
  --color-bar: var(--accent-green);
  --color-toggle: var(--light-gray-80);
  --color-fieldset-border: var(--light-gray-50);
  --color-sorting-arrow: var(--light-gray-20);
  --color-sorting-arrow-hover: var(--basic-black);
  --color-sorting-arrow-active: var(--basic-red);
  --color-icon-user: var(--light-gray-20);
  --color-tab-border: var(--light-blue-50);
  /* typography */
  --primary-font: "Cuprum", "Arial", sans-serif;
  --secondary-font: "PT Sans", "Verdana", sans-serif;
  --font-size-xxxs: 13px;
  --font-size-xxs: 14px;
  --font-size-xs: 15px;
  --font-size-s: 16px;
  --font-size-m: 17px;
  --font-size-l: 18px;
  --font-size-xl: 21px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 30px;
  --font-size-xxxxl: 36px;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --lh-xxs: 18px;
  --lh-xs: 19px;
  --lh-s: 20px;
  --lh-m: 21px;
  --lh-l: 23px;
  --lh-xl: 24px;
  --lh-xxl: 30px;
  --lh-xxxl: 36px;
  --main-width: 960px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: var(--main-width);
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
  color: var(--text-color-link-primary);
  transition: all 0.2s;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: var(--main-width);
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: grid;
  font-style: normal;
  font-size: var(--font-size-l);
  line-height: var(--lh-xl);
  font-weight: var(--font-weight-normal);
  font-family: var(--primary-font);
  background-color: var(--color-header-bg-primary);
  padding-bottom: 60px;
}

.header-top-inner {
  background-color: var(--color-header-bg-secondary);
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  color: var(--text-color-white);
}

.header-top-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  background-color: var(--color-logo-bg);
  box-shadow: 0 5px 0 var(--color-logo-shadow);
}

.header-top-logo:active {
  background-color: var(--color-logo-bg-active);
  box-shadow: 0 5px 0 var(--color-logo-shadow-active);
}

.header-top-form {
  position: relative;
  margin-right: auto;
}

.header-top-form-input {
  background-color: var(--color-header-input-bg);
  min-width: 268px;
  height: 42px;
  padding-left: 42px;
  border: none;
  color: var(--text-color-black);
  outline: none;
}

.header-top-form-input:focus + .header-top-form-btn {
  background-color: var(--main-bg-color);
}

.header-top-form-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  background-color: var(--color-header-bg-secondary);
  border: none;
  padding: 0;
  padding-left: 8px;
  padding-top: 3px;
  cursor: pointer;
}

.search-svg {
  color: var(--color-icon-search);
  opacity: 0.3;
}

.header-top-form:hover .search-svg {
  opacity: 1;
}

.header-top-form-input:focus + .header-top-form-btn .search-svg{
  color: var(--color-icon-searh-focus);
  background-color: var(--main-bg-color);
}

.header-top-form-input:focus + .header-top-form-btn .search-svg {
  opacity: 1;
}

.header-top-form-btn:focus {
  background-color: var(--main-bg-color);
}

.header-top-form-btn:focus .search-svg {
  color: var(--color-icon-searh-focus);
  opacity: 1;
}

.header-top-form-input::placeholder {
  color: var(--color-placeholder);
}

.header-top-form-input:focus {
  background-color: var(--color-header-input-bg-hover-focus);
}

.header-top-link {
  padding: 9px 16px;
  text-align: center;
}

.header-top-link-bookmarks {
  position: relative;
  padding-left: 40px;
  padding-right: 38px;
}

.header-top-link-bookmarks::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 13px;
  left: 17px;
  background-image: url(../img/icons/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-top-link-bookmarks:hover::before {
  opacity: 1;
}

.header-top-link-bookmarks:active::before {
  opacity: 0.3;
}

.header-top-link-basket {
  position: relative;
  padding-left: 35px;
  padding-right: 27px;
}

.header-top-link-basket::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 13px;
  right: 109px;
  background-image: url(../img/icons/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-top-link-basket:hover::before {
  opacity: 1;
}

.header-top-link-basket:active::before {
  opacity: 0.3;
}

.header-top-link-bookmarks:active {
  color: var(--color-top-header-menu-active-link);
  background-color: var(--color-top-header-menu-active-bg);
}

.header-top-link-basket:active {
  color: var(--color-top-header-menu-active-link);
  background-color: var(--color-top-header-menu-active-bg);
}

.basket-catalog {
  padding-left: 35px;
  padding-right: 22px;
}

.header-top-link-active {
  background-color: var(--color-basket-active);
}

.header-top-link-to-buy {
  padding-left: 19px;
  background-color: var(--color-checkout-link-bg);
}

.header-top-link-to-buy:hover, .header-top-link-to-buy:focus {
  background-color: var(--color-checkout-link-bg-hover-focus);
}

.header-top-link-to-buy:active {
  color: var(--color-top-header-menu-active-link);
}

.header-middle {
  display: grid;
  grid-template-columns: 250px 1fr 299px;
}

.header-title {
  font-style: italic;
  font-size: var(--font-size-s);
  line-height: var(--line-height-5);
  font-weight: var(--font-weight-normal);
  color: var(--color-text-accent);
}

.header-title-text {
  white-space: pre-line;
  padding-top: 42px;
  padding-bottom: 44px;
  padding-left: 30px;
  margin: 0;
}

.header-contacts {
  justify-self: center;
  margin-top: 46px;
  margin-left: 20px;
  margin-bottom: 22px;
}

.header-contacts-phone {
  padding: 4px 42px 5px 71px;
  border: 3px solid var(--basic-white);
  margin-bottom: 2px;
}

.header-contacts-phone-link {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: var(--lh-xxl);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-accent);
}

.header-contacts-phone-link::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: 3px;
  right: 166px;
  background-image: url(../img/icons/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contacts-addres {
  font-size: var(--font-size-xxs);
  line-height: var(--lh-xl);
  color: var(--text-color-blue);
  padding: 0 10px;
  margin-top: 2px;
}

.header-contacts-addres-text {
  margin: 0;
}

.header-authorization {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  margin-top: 46px;
  margin-bottom: auto;
}

.header-authorization-link-sign-in {
  padding: 12px 27px 12px 44px;
  position: relative;
}

.header-authorization-link-sign-in svg {
  position: absolute;
  top: 14px;
  right: 81px;
  width: 20px;
  height: 17px;
}

.header-authorization-link-sign-up {
  margin-left: 10px;
  padding: 12px 23px 12px 23px;
}

.header-authorization-link-sign {
  display: block;
  font-size: var(--font-size-xl);
  line-height: var(--lh-m);
  color: var(--text-color-black);
  background-color: var(--main-bg-color);
}

.header-authorization-link-sign:hover, .header-authorization-link-sign:focus {
  color: var(--color-text-accent);
}

.header-authorization-link-sign:active {
  color: var(--color-sign-active);
}

.header-authorization-link-sign-in:hover path {
  fill: var(--color-icon-sign-hover);
}

.header-authorization-link-sign-in:active path {
  fill: var(--color-sign-active);
}

.header-user-block-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 11px 17px 12px 15px;
  margin-top: 46px;
  margin-bottom: 4px;
  background-color: var(--main-bg-color);
}

.icon-user {
  position: absolute;
  top: 2px;
  left: 0;
  color: var(--color-icon-user);
}

.header-user-block-name:hover .icon-user {
  color: var(--color-icon-sign-hover);
}

.header-user-block-name:active {
  color: var(--color-icon-user);
}

.header-user-block-name:active .icon-user {
  color: inherit;
}

.header-user-block-exit {
  position: absolute;
  top: 13px;
  right: 17px;
  color: var(--color-icon-user);
  margin-left: 9;
}

.header-user-block-exit:hover {
  color: var(--color-icon-sign-hover);
}

.header-user-block-exit:active {
  color: var(--color-sign-active);
}

.header-user-block-bottom {
  text-align: center;
}

.header-user-block-orders {
  margin-right: 29px;
}

.header-user-block-bottom-link {
  position: relative;
}

.header-user-block-bottom-link:not(:last-child):after {
  content: "";
  position: absolute;
  top: 9px;
  right: -19px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--text-color-blue);
}

.header-user-block-bottom-link:hover {
  color: var(--color-text-accent);
}

.header-user-block-bottom-link:active {
  color: var(--color-icon-user);
}

.header-navigation {
  background-color: var(--color-main-nav-bg);
  box-shadow: inset 0 -5px 0 var(--color-nav-border);
}

.header-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-navigation-list-item-link {
  display: block;
  margin-right: 1px;
  padding: 16px 28px 20px 28px;
}

.header-navigation-list-item-link:hover, .header-navigation-list-item-link:focus {
  background-color: var(--color-header-bg-secondary);
}

.header-navigation-list-item-link:active {
  background-color: var(--color-main-nav-bg-active);
  color: var(--color-top-header-menu-active-link);
}

.button {
  font-style: normal;
  font-size: var(--font-size-xxs);
  line-height: var(--lh-xxs);
  font-weight: var(--font-weight-normal);
  font-family: var(--primary-font);
  color: var(--color-btn-text);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: var(--color-btn-bg);
  padding: 11px 0 9px 0;
  transition: all 0.2s;
}

.button:hover {
  background-color: var(--color-btn-bg-hover-focus);
}

.button:active {
  background-color: var(--color-btn-bg-active);
}

.main-container {
  background-color: var(--main-bg-color);
}

.promo {
  display: grid;
  grid-template-areas: "material tools equipment"
                        "slider slider discount"
                        "slider slider delivery";
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 123px);
  gap: 20px;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-family: var(--primary-font);
  color: var(--text-color-white);
  margin-top: 59px;
  margin-bottom: 59px;
}

.promo-element {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: var(--font-size-xxs);
  line-height: var(--lh-xxs);
  padding-top: 20px;
  padding-left: 22px;
}

.promo-material {
  background-color: var(--color-box-promo-material);
}

.promo-material::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
  background-image: url(../img/decoration-image/bucket.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-element-btn-mat {
  margin-top: 14px;
  margin-bottom: 21px;
}

.promo-tools {
  background-color: var(--color-box-promo-tools);
}

.promo-tools::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  top: 34px;
  right: 31px;
  background-image: url(../img/decoration-image/drill.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-element-btn-tools {
  margin-top: 14px;
  margin-bottom: 21px;
}

.promo-equipment {
  background-color: var(--color-box-promo-equipment);
}

.promo-equipment::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
  background-image: url(../img/decoration-image/tractor.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-element-btn-equip {
  margin-top: 14px;
  margin-bottom: 21px;
}

.promo-discount {
  background-color: var(--color-box-promo-discount)
}

.promo-discount::before {
  content: "";
  position: absolute;
  width: 59px;
  height: 72px;
  top: 25px;
  right: 44px;
  background-image: url(../img/decoration-image/basket.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-element-btn-discount {
  margin-top: 12px;
  margin-bottom: 23px;
}

.promo-delivery {
  background-color: var(--color-box-promo-delivery);
}

.promo-delivery::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 63px;
  top: 32px;
  right: 30px;
  background-image: url(../img/decoration-image/truck.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-element-btn-delivery {
  margin-top: 13px;
  margin-bottom: 22px;
}

.promo-element-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 135px;
  padding: 10px 22px 10px 22px;
  background-color: var(--color-box-btn-bg);

}

.promo-element-btn:hover {
  background-color: var(--color-box-btn-bg-hover-focus);
}

.promo-element-btn:active {
  background-color: var(--color-box-btn-bg-active);
}

.promo-element-title {
  font-size: var(--font-size-xxl);
  line-height: var(--lh-xxl);
  margin: 0;
}

.promo-slider {
  grid-area: slider;
}

.promo-slider-img-wrapper {
  width: 620px;
  height: 266px;
  background-color: var(--color-box-promo-equipment);
}

.promo-slider-img-bg {
  object-fit: contain;
}

.promo-slider__title {
  font-size: var(--font-size-xxxxl);
  line-height: var(--lh-xxxl);
  margin-top: 23px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.promo-slider__text {
  font-size: var(--font-size-l);
  line-height: var(--lh-xl);
  margin-top: 5px;
  margin-bottom: auto;
}

.promo-slider-img-punch {
  display: none;
  position: relative;
}

.promo-slider__punch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  min-height: 266px;
  top: 0px;
  padding-left: 24px;
  padding-bottom: 27px;
}

.promo-slider-img {
  position: relative;
}

.promo-slider-img-drill {
  display: none;
  position: relative;
}

.slider-active {
  display: block;
}

.promo-slider__drill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  min-height: 266px;
  top: 0px;
  padding-left: 24px;
  padding-bottom: 27px;
}

.promo-slider-description {
  margin-bottom: auto;
}

.promo-slider__btn {
  display: block;
  padding: 11px 46px 9px 46px;
}

.promo-slider-arrow-left {
  display: block;
  position: absolute;
  width: 22px;
  height: 40px;
  top: 121px;
  left: 24px;
  background-image: url(../img/icons/icon-left.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.promo-slider-arrow-right {
  display: block;
  position: absolute;
  width: 22px;
  height: 40px;
  top: 123px;
  right: 20px;
  background-image: url(../img/icons/icon-left.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transform: rotate(180deg);
}

.promo-slider-pagination-radio {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: var(--main-bg-color);
}

.radio-back {
  top: 220px;
  right: 314px;
}

.radio-next {
  top: 220px;
  right: 294px;
}

.radio-active {
  width: 10px;
  height: 10px;
  border: 2px solid var(--main-bg-color);
  border-radius: 50%;
  background-color: var(--color-slider-checked);
}

.cards {
  margin-bottom: 70px;
}

.cards-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 14px 26px 28px;
  margin-bottom: 20px;
  background-color: var(--section-header-bg);
}

.cards-header-title {
  flex-grow: 1;
  font-style: normal;
  font-size: var(--font-size-xxxl);
  line-height: var(--lh-xxl);
  font-weight: var(--font-weight-normal);
  font-family: var(--primary-font);
  color: var(--text-color-blue);
  text-transform: uppercase;
  margin: 0;
}

.cards-header-btn {
  flex-shrink: 0;
  padding: 11px 24px 9px 24px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.cards-item {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  position: relative;
  font-family: var(--secondary-font);
  border: 1px solid var(--color-card-border);
}

.card__buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 38px;
  position: absolute;
  z-index: -1;
}

.card__heading {
  margin: 0;
  margin-bottom: 8px;
  order: 1;
}

.card__img {
  margin-bottom: 10px;
  object-fit: contain;
}

.card__title {
  font-style: normal;
  font-size: var(--font-size-l);
  line-height: var(--lh-s);
  color: var(--text-color-black);
}

.card__title-string {
  display: block;
  text-align: center;
}

.card__old-price-wrapper {
  text-align: center;
  order: 2;
  margin-bottom: 13px;
  color: var(--text-color-gray);;
}

.card__old-price {
  font-style: normal;
  font-size: var(--font-size-m);
  line-height: var(--lh-xxs);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.card__price {
  display: block;
  font-style: normal;
  font-size: var(--font-size-m);
  line-height: var(--lh-xxs);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-white);
  text-transform: uppercase;
  order: 3;
  width: 141px;
  height: 38px;
  padding: 9px 42px 11px 32px;
  margin: 0 0 19px 12px;
  background-image: url(../img/buttons/red-button.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.card__button-buy {
  position: relative;
  background-color: var(--color-btn-buy-bg);
  box-shadow: inset 0px -3px 0px var(--underline-green);
  border-radius: 2px;
  padding: 10px 39px 10px 56px;
}

.card__button-buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 9px;
  bottom: 13px;
  left: 31px;
  background-image: url(../img/icons/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.card__button-buy:hover {
  background-color: var(--color-btn-buy-bg-hover-focus);
}

.card__button-buy:active {
  background-color: var(--color-btn-buy-bg-active);
}

.card__to-bookmark {
  padding: 9px 28px 5px 25px;
  margin-top: 10px;
  text-align: center;
  color: var(--text-color-blue);
  background-color: var(--main-bg-color);
  border: 3px solid var(--color-tobookmark-border);
  border-radius: 2px;
}

.card__to-bookmark:hover {
  background-color: var(--main-bg-color);
  border: 3px solid var(--color-tobookmark-border-hover-focus);
}

.card__to-bookmark:active {
  background-color: var(--main-bg-color);
  color: var(--color-tobookmark-text-active);
  border: 3px solid var(--color-tobookmark-border-active);
}

.card:hover .card__buttons {
  z-index: 1;
}

.card:hover .card__img {
  opacity: 0;
  z-index: -1;
}

.card:hover {
  box-shadow: 0px 4px 20px var(--color-card-shadow);
}

.card:focus-within .card__img {
  z-index: -1;
  opacity: 0;
}

.card:focus-within .card__buttons {
  z-index: 1;
}

.new::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
  background-image: url(../img/content-img/catalog-new.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.manufacturers {
  margin-top: 59px;
  margin-bottom: 70px;
}

.manufacturers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 18px 26px 28px;
  margin-bottom: 20px;
  background-color: var(--section-header-bg);
}

.manufacturers-header-title {
  flex-grow: 1;
  font-style: normal;
  font-size: var(--font-size-xxxl);
  line-height: var(--lh-xxl);
  font-weight: var(--font-weight-normal);
  font-family: var(--primary-font);
  color: var(--text-color-blue);
  text-transform: uppercase;
  margin: 0;
}

.manufacturers-header-btn {
  flex-shrink: 0;
  padding: 11px 39px 9px 39px;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-auto-rows: 145px;
  gap: 20px;
  list-style: none;
  padding-left: 0;
}

.manufacturers-list-item {
  border: 1px solid var(--light-gray-40);
}

.partners-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
}

.partners-link:hover {
  box-shadow: 0px 4px 20px var(--color-card-shadow);
}

.partners-link:active {
  opacity: 0.5;
}

.img-hitachi {
  padding-top: 4px;
  padding-left: 5px;
  object-fit: contain;
}

.manufacturers__img {
  object-fit: contain;
}

.services-inner {
  background-color: var(--section-bg-color);
}

.services {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr minmax(183px, auto);
  align-items: start;
  padding: 65px 10px 95px;
  margin-bottom: 0;
}

.services-top {
  grid-column: 1 / -1;
  margin-bottom: 58px;
}

.services-title {
  margin-top: 0;
  color: var(--text-color-black);
}

.services__text {
  white-space: pre-line;
}

.delivery-text-first {
  margin-top: 27px;
  margin-bottom: 2px;
}

.delivery-text-second {
  margin-top: 0;
}

.credit-text {
  margin-top: 27px;
  margin-bottom: 27px;
}

.services-tabs-pagination {
  display: grid;
  position: relative;
}

.services-tabs-pagination::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  top: -42px;
  right: 0;
  background-image: url(../img/tab-image/shadow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-description {
  margin-left: 80px;
}

.heading {
  font-style: normal;
  font-size: var(--font-size-xxxl);
  line-height: var(--lh-xxl);
  font-weight: var(--font-weight-normal);
  font-family: var(--primary-font);
  text-transform: uppercase;
}

.text {
  font-style: normal;
  font-size: var(--font-size-xxxs);
  line-height: var(--lh-xl);
  font-weight: var(--font-weight-normal);
  font-family: var(--secondary-font);
  color: var(--text-color-black);
}

.services-tabs-item-heading {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--text-color-blue);
}

.services-tabs-item {
  position: relative;
  display: none;
}

.services-tabs-item-delivery::after {
  content: "";
  position: absolute;
  width: 468px;
  height: 261px;
  top: 19px;
  right: 0;
  background-image: url(../img/tab-image/img-gelivery.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-tabs-item-quarantee::after {
  content: "";
  position: absolute;
  width: 389px;
  height: 283px;
  top: -4px;
  right: -8px;
  background-image: url(../img/tab-image/img-guarantee.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-tabs-item-credit::after {
  content: "";
  position: absolute;
  width: 465px;
  height: 285px;
  top: -3px;
  right: -10px;
  background-image: url(../img/tab-image/img-credit.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-btn-credit {
  display: block;
  max-width: 195px;
  margin-bottom: 10px;
  padding: 10px 44px 10px 44px;
  border-radius: 3px;
}

.services-tabs-item-active {
  display: block;
}

.services-tabs-pagination-index {
  font-size: var(--font-size-xl);
  line-height: var(--lh-xxl);
  font-weight: var(--font-weight-bold);
  font-family: var(--primary-font);
  color: var(--text-color-white);
  background-color: var(--color-tab-bg);
  padding: 15px 0 18px 22px;
  box-shadow: 0px 1px 0px var(--color-nav-border), inset 0px 1px 0px var(--color-tab-border);
}

.services-tabs-pagination-index:hover {
  background-color: var(--color-tab-bg-hover-focus);
}

.tab-active {
  color: var(--text-color-blue);
  background-color: var(--main-bg-color);
  box-shadow: none;
}

.tab-active:hover {
  background-color: var(--main-bg-color);
}

.services-tabs-pagination-index:active {
  color: var(--text-color-blue);
  background-color: var(--main-bg-color);
}

.before-footer {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 48px;
  padding-bottom: 70px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.features-title {
  margin-bottom: 22px;
  color: var(--text-color-black);
}

.features-info {
  margin: 0;
}

.features-info:first-of-type {
  margin-bottom: 27px;
}

.features-info:last-of-type {
  margin-bottom: 2px;
}

.features-delivery-list {
  padding: 0;
  padding-left: 37px;
  margin: 0;
  margin-bottom: 8px;
  list-style: none;
}

.features-delivery-list-item {
  position: relative;
  font-style: normal;
  font-size: var(--font-size-l);
  line-height: var(--lh-xl);
  font-weight: var(--font-weight-normal);
  font-family: var(--primary-font);
  color: var(--text-color-black);
  margin-bottom: 12px;
}

.features-delivery-list-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 13px;
  left: -37px;
  background-color: var(--color-list-style);
}

.features-delivery-list-item:last-child::before {
  top: 9px;
}

.features-btn-info {
  display: block;
  padding: 11px 41px 9px 40px;
  margin-right: auto;
}

.contacts {
  justify-self: end;
}

.contacts-title {
  color: var(--text-color-black);
}

.contacts-info {
  white-space: pre-line;
  margin-bottom: 31px;
}

.contacts-map {
  display: block;
  margin-bottom: 21px;
}

.contacts-btn {
  display: block;
  text-align: center;
}

.footer {
  display: grid;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-family: var(--primary-font);
}

.footer-top {
  font-size: var(--font-size-l);
  line-height: var(--lh-xl);
  background-color: var(--color-footer-top-bg);
}

.footer-top-inner {
  display: grid;
  grid-template-columns: 350px 1fr;
}

.footer-top-contacts {
  color: var(--text-color-light-blue);
}

.footer-top-contacts-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 63px;
  background-color: var(--color-logo-bg);
  box-shadow: 0 5px 0 var(--color-logo-shadow);
}

.footer-top-contacts-logo:active {
  background-color: var(--color-logo-bg-active);
  box-shadow: 0 5px 0 var(--color-logo-shadow-active);
}

.footer-top-contacts-addres {
  margin-top: 28px;
  margin-bottom: 0;
  margin-left: 2px;
}

.footer-top-contacts-phone {
  margin-left: 2px;
  color: var(--text-color-light-blue);
}

.footer-top-navigation-light-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 37px;
  margin-bottom: 34px;
  list-style: none;
}

.footer-top-navigation-light-list-item {
  margin-right: 60px;
}

.footer-top-navigation-light-list-item:last-child {
  margin-right: 0;
}

.footer-top-navigation-dark-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 74px;
  list-style: none;
}

.footer-top-navigation-dark-list-item {
  margin-right: 59px;
}

.footer-top-navigation-dark-list-item:last-child {
  margin-right: 0;
}

.footer-top-navigation-light-list-item {
  color: var(--color-footer-link-light);
}

.footer-top-navigation-light-list-item a {
  display: block;
  color: inherit;
}

.footer-top-navigation-light-list-item a:hover, .footer-top-navigation-light-list-item a:focus {
  text-decoration: underline;
}

.footer-top-navigation-light-list-item a:active {
  color: var(--link-color-footer-active);
}

.footer-top-navigation-dark-list-item {
  color: var(--color-footer-link-dark);
}

.footer-top-navigation-dark-list-item a {
  display: block;
  color: inherit;
}

.footer-top-navigation-dark-list-item a:hover, .footer-top-navigation-dark-list-item a:focus {
  text-decoration: underline;
}

.footer-top-navigation-dark-list-item a:active {
  color: var(--link-color-footer-active-dark);
}

.footer-bottom {
  font-size: var(--font-size-s);
  line-height: var(--lh-xxs);
  color: var(--text-color-white);
  background-color: var(--color-footer-bottom-bg);
}

.footer-bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 107px;
}

.footer-bottom-copyright p {
  margin: 1px 0 0 1px;
  padding: 0;
}

.footer-bottom-socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 3px 0 0 49px;
  list-style: none;
}

.footer-bottom-socials-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  min-height: 41px;
  margin-right: 4px;
  background-color: var(--color-social-bg);
  border-radius: 50%;
}

.footer-bottom-socials-list a:hover,
.footer-bottom-socials-list a:focus {
  background-color: var(--color-social-bg-active);
}

.footer-bottom-feedback {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.footer-bottom-feedback-email {
  display: block;
  margin-right: 49px;
}

.footer-bottom-feedback-cite {
  display: block;
  margin-right: 13px;
}

.footer-bottom-feedback-email-text,
.footer-bottom-feedback-yellow-link,
.footer-bottom-feedback-cite-text,
.footer-bottom-feedback-yellow-link {
  display: block;
}


.footer-bottom-feedback-yellow-link {
  color: var(--color-footer-link-dark);
}

.footer-bottom-feedback-yellow-link:hover, .footer-bottom-feedback-yellow-link:focus {
  text-decoration: underline;
}

.footer-bottom-feedback-yellow-link:active {
  color: var(--color-text-accent);
}

.modal {
  position: fixed;
  display: flex;
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  width: 620px;
  height: 430px;
  padding-top: 14px;
  background-color: var(--main-bg-color);
  border-top: 7px solid var(--color-popup-border);
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 20px var(--color-card-shadow);
}

.modal-show {
  display: flex;
  animation-name: jump;
  animation-duration: 0.4s;
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.4s;
}

.modal-wrapper {
  width: 74.2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.modal-btn {
  width: 21px;
  height: 21px;
  margin: 0 11px 4px auto;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.modal-btn::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 14px;
  right: 11px;
  background-image: url(../img/icons/icon-close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.modal-form-label {
  font-style: normal;
  font-size: var(--font-size-l);
  line-height: var(--lh-xl);
  font-weight: var(--font-weight-normal);
  font-family: var(--primary-font);
  color: var(--text-color-black);
}

.modal-form-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  list-style: none;
}

.modal-form-list-item:first-child {
  margin-bottom: 13px;
}

.modal-form-label {
  display: block;
  margin-bottom: 11px;
}

.modal-form-input {
  width: 100%;
  height: 38px;
  border: 2px solid var(--color-input-border);
  border-radius: 2px;
}

.form-item::placeholder {
  font-size: var(--font-size-xxxs);
  line-height: var(--lh-xl);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-family: var(--secondary-font);
  color: var(--text-color-gray);
}

.modal-form-letter {
  width: 100%;
  height: 114px;
  padding-top: 4px;
  padding-left: 10px;
  border: 2px solid var(--color-input-border);
  border-radius: 2px;
  resize: none;
}

.modal-form-letter::placeholder {
  margin-left: 15px;
  left: 15px;
}

.modal-form-list-item:last-child {
  flex-grow: 1;
  width: 100%;
}

.modal-form-list-item:not(:last-child) {
  width: 47.8%;
}

.modal-form-bottom {
  padding-top: 36px;

}

.modal-form-bottom-btn {
  display: block;
  width: 100%;
  padding: 11px 10px 9px 10px;
  text-align: center;
  cursor: pointer;
}

.modal-bottom-bg {
  position: absolute;
  width: 100%;
  height: 26.5%;
  bottom: 0;
  z-index: -1;
  background-color: var(--color-form-bg-bottom);
}

.modal-map {
  position: fixed;
  display: none;
  width: 943px;
  height: 449px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 7px solid var(--color-popup-border);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-map-show {
  display: block;
  animation-name: jump;
  animation-duration: 0.4s;
}

.modal-map .modal-btn::after {
  top: 0;
  left: 0;
}

.map-close {
  position: absolute;
  top: 17px;
  right: 10px;
}

/* CATALOG */

.header-user-block-name {
  position: relative;
  font-style: normal;
  font-size: var(--font-size-xl);
  line-height: var(--lh-m);
  font-weight: var(--font-weight-normal);
  font-family: var(--primary-font);
  color: var(--text-color-black);
  padding-left: 40px;
}

.header-user-block-orders,
.header-user-block-account {
  font-style: normal;
  font-size: var(--font-size-s);
  line-height: var(--lh-xxs);
  font-weight: var(--font-weight-normal);
  color: var(--text-color-blue);
}

.breadcrumbs-text {
  font-style: normal;
  font-size: var(--font-size-xxxs);
  line-height: var(--lh-xxs);
  font-weight: var(--font-weight-normal);
  font-family: var(--secondary-font);
  color: var(--text-color-black);
  text-transform: uppercase;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  margin-top: 21px;
  margin-bottom: 20px;
  list-style: none;
}

.breadcrumbs-list-item {
  position: relative;
}

.breadcrumbs-list-item-link:first-child {
  margin-top: 3px;
  margin-right: 41px;
  padding-right: 0;
  padding-left: 0;
}

.breadcrumbs-icon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 14px;
  height: 12px;
  margin-right: 20px;
  background-image: url("../img/icons/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-icon::before {
  display: none;
}

.breadcrumbs-list-item-link::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -22px;
  width: 8px;
  height: 14px;
  background-image: url("../img/icons/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.perforators {
  display: grid;
  grid-template-columns: 220px 3fr;
  row-gap: 10px;
  column-gap: 20px;
  grid-template-rows: auto auto max-content auto;
}

.perforators__top {
  grid-column: 1 / -1;
  background-color: var(--bg-accent-color);
  padding: 29px;
  margin-bottom: 10px;
}

.perforators__top-title {
  font-style: normal;
  font-size: var(--font-size-xxxl);
  line-height: var(--lh-xxl);
  font-weight: var(--font-weight-normal);
  font-family: var(--primary-font);
  color: var(--text-color-blue);
  text-transform: uppercase;
  margin: 0;
}

.perforators__filter {
  grid-column: 1 / 2;
  font-style: normal;
  font-family: var(--secondary-font);
  text-transform: uppercase;
}

.perforators__filter-title {
  padding: 10px 0 10px 18px;
  margin-bottom: 15px;
  border-radius: 3px;
  background-color: var(--bg-filter-color);
}

.perforators__filter-title-text {
  font-size: var(--font-size-xxxs);
  line-height: var(--lh-xxs);
  font-weight: var(--font-weight-normal);
  color: var(--text-color-gray-filter);
  margin: 0;
}

.perforators__filter-form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.perforators__filter-form-fieldset-range {
  position: relative;
  height: 80px;
  background-color: var(--bg-filter-color);
  border-radius: 3px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.scale {
  height: 2px;
  background-color: var(--color-scale);
}

.bar {
  width: 82%;
  height: 2px;
  background-color: var(--color-bar);
}

.toggle {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: var(--color-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--color-toggle);
  cursor: pointer;
}

.min-toggle {
  top: 30px;
  left: 18px;

}
.max-toggle {
  top: 30px;
  right: 41px;
}

.perforators__filter-form-fieldset-value {
  width: 95px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: var(--bg-filter-color);
}

.price-value {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.legend-manufacturers {
  margin-bottom: 19px;
}

.perforators__filter-price {
  padding-top: 11px;
  padding-bottom: 25px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--color-fieldset-border);
}
.perforators__filter-manufacturers {
  border-bottom: 1px solid var(--color-fieldset-border);
  padding-bottom: 6px;
  margin-bottom: 17px;
}

.perforators__filter-power {
  padding-top: 24px;
}

.perforators__filter-form-fieldset-legend {
  font-size: var(--font-size-m);
  line-height: var(--lh-xxl);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-black);
}

.perforators__filter-form-fieldset-value {
  font-size: var(--font-size-m);
  line-height: var(--lh-xxs);
  font-weight: var(--font-weight-normal);
  color: var(--text-color-black);
  background-color: var(--bg-filter-color);
}

.perforators__filter-form-fieldset-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 21px;
  margin-right: 0;
  font-size: var(--font-size-xs);
  line-height: var(--lh-xs);
  font-weight: var(--font-weight-normal);
  color: var(--text-color-black);
  cursor: pointer;
  user-select: none;
}

.perforators__filter-form-fieldset-dash {
  padding-top: 10px;
}

.manufacturers-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 23px;
  height: 23px;
  background-image: url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.perforators__filter-form-fieldset-label:hover::before {
  opacity: 1;
}

.perforators__filter-form-fieldset-checkbox:checked + .manufacturers-label::before {
  content: "";
  width: 27px;
  height: 23px;
  background-image: url(../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.perforators__filter-form-fieldset-checkbox:focus + .manufacturers-label::before {
  opacity: 1;
  outline: 2px solid black;
}

.perforators__manufacturers-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.perforators__power-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.perforators__power-list-item:first-child {
  margin-bottom: 2px;
}

.power-label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -2px;
  left: 0;
  background-image: url(../img/icons/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.perforators__filter-form-fieldset-radio:checked + .power-label::before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/icons/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.perforators__filter-form-fieldset-radio:focus + .power-label::before {
  opacity: 1;
  outline: 2px solid black;
}

.perforators__filter-form-btn {
  padding: 9px 78px 10px 79px;
  margin-top: 17px;
  font-size: var(--font-size-xxxs);
  line-height: var(--lh-xxs);
  font-weight: var(--font-weight-normal);
  color: var(--text-color-black);
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--color-fieldset-border);
  cursor: pointer;
}

.sorting {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 16px;
  font-style: normal;
  font-size: var(--font-size-xxxs);
  line-height: var(--lh-xxs);
  font-weight: var(--font-weight-normal);
  font-family: var(--secondary-font);
  text-transform: uppercase;
  background-color: var(--bg-filter-color);
  border-radius: 3px;
}

.sorting-title {
  font-size: var(--font-size-xxxs);
  font-weight: var(--font-weight-normal);
  margin-left: 20px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  margin-left: 95px;
  padding: 0;
  list-style: none;
}

.sorting-list-item {
  margin-right: 65px;
}

.sorting-list-item:last-child {
  margin-right: 0;
}

.sorting-list-item:first-child {
  margin-right: 70px;
}

.sorting__link {
  color: var(--text-color-black-transparent);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting__link-active {
  color: var(--color-text-accent);
  border-bottom: none;
}

.sorting__link:hover {
  color: var(--text-color-black);
  border-bottom: 1px solid var(--basic-red);
}

.sorting-arrows-list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-arrows-list-item:first-child {
  margin-right: 19px;
}

.sorting__arrow {
  color: var(--color-sorting-arrow);
}

.sorting__arrow:hover {
  color: var(--color-sorting-arrow-hover);
}

.sorting__arrow:active {
  color: var(--color-sorting-arrow-active);
}

.sorting__arrow-active {
  color: var(--color-sorting-arrow-active);
}

.cards-inner {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: repeat(3, 220px);
  column-gap: 20px;
  row-gap: 18px;
  margin-bottom: 37px;
}

.pagination {
  grid-column: 2 / -1;
  margin-bottom: 49px;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list-item {
  margin-right: 9px;
}

.pagination-list-item-link {
  display: block;
  font-style: normal;
  font-size: var(--font-size-xxxs);
  line-height: var(--lh-xxs);
  font-weight: var(--font-weight-normal);
  font-family: var(--secondary-font);
  color: var(--text-color-black);
  text-transform: uppercase;
  padding: 10px 15px 10px 15px;
  border: 1px solid var(--color-pag-border);
  border-radius: 2px;
}

.pagination-list-item:last-child .pagination-list-item-link {
  padding: 10px 30px 10px 32px;
}

.active-pag {
  color: var(--color-btn-text);
  background-color: var(--color-text-accent);
}

.pagination-list-item-link:hover {
  border-color: var(--color-pag-border-hover);
}

.pagination-list-item-link:active {
  border-color: var(--color-pag-border-active);
}

.about-product-inner {
  background-color: var(--bg-accent-color);
  padding-bottom: 68px;
}

.about-product {
  font-style: normal;
  padding-top: 40px;
}

.about-product-title {
  font-size: var(--font-size-xxxl);
  line-height: var(--lh-xxl);
  font-weight: var(--font-weight-normal);
  font-family: var(--primary-font);
  color: var(--text-color-black);
  margin-bottom: 24px;
  text-transform: uppercase;
}

.about-product-info {
  font-size: var(--font-size-xxxs);
  line-height: var(--lh-xl);
  font-weight: var(--font-weight-normal);
  font-family: var(--secondary-font);
  margin: 0;
  padding: 0;
}

.about-product-info:last-of-type {
  margin-top: 2px;
}

.modal-basket {
  display: none;
  position: fixed;
  z-index: 1;
  width: 620px;
  height: 282px;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -50%);
  font-style: normal;
  font-family: var(--primary-font);
  background-color: var(--color-form-bg-bottom);
  box-shadow: 0px 4px 20px var(--color-card-shadow);
}

.modal-basket-show {
  display: block;
  animation-name: jump;
  animation-duration: 0.4s;
}

.modal-basket-top {
  position: relative;
  padding-top: 66px;
  padding-bottom: 67px;
  padding-left: 1px;
  background-color: var(--main-bg-color);
  border-top: 7px solid var(--color-modal-border);
}

.modal-basket-top-btn-close {
  position: absolute;
  top: 10px;
  right: 0;
}

.modal-basket .modal-btn::after {
  top: 0;
  right: 0;
}

.modal-basket-top::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  top: 47px;
  left: 82px;
  background-image: url(../img/icons/icon-mark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-basket-top-title {
  font-size: var(--font-size-xxl);
  line-height: var(--lh-xxl);
  color: var(--text-color-black);
  text-align: center;
  padding: 0;
  margin: 0;
}

.modal-basket-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 37px;
}

.modal-basket-bottom-btn-by {
  padding: 11px 46px 9px 47px;
  margin-right: 10px;
}

.modal-basket-bottom-btn-close {
  padding: 11px 31px 9px 32px;
  color: var(--text-color-black);
  background-color: var(--main-bg-color);
}

.modal-basket-bottom-btn-close:hover {
  color: var(--text-color-white);
}

@keyframes jump {
  0% {
    transform: translate(-50%, -2000px);
  }

  40% {
    transform: translate(-50%, -100px);
  }

  70% {
    transform: translate(-50%, -300px);
  }

  100% {
    transform: translate(-50%, -200px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-260px, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-300px, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-260px, -50%);
  }
}
